* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  text-decoration: none;
  /* color: #000000; */
  font-family: 'Ubuntu', sans-serif;
@tailwind base;
@tailwind components;
@tailwind utilities;
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  text-decoration: none;
  color: #000000;
  font-family: 'Ubuntu', sans-serif;
}


/* ////////////////////////Header///////////////// */



.nav-links {
  padding: 7px 7px 7px 7px;
}

/* ////////////////////////Header///////////////// */



.nav-links {
  padding: 7px 7px 7px 7px;

}

.nav-links:hover {
  /* background-color: #9d04565e; */
  /* border-radius: 10px; */
  /* box-shadow: 2px 3px 3px 2px #ae6f915f; */
  font-weight: 700;
  color: #9d0455;
}


.footer{
  position: relative;
  bottom: 0;
}

/* ////////////////////////Carousel/////////////////////////// */
.carousel-text {
  position: absolute;
  top: 200px;
  margin: auto;
  text-shadow: 4px 4px 5px #000000;
}


/* ////////////////////////Carousel/////////////////////////// */
.carousel-text {
  position: absolute;
  top: 200px;
  margin: auto;
  text-shadow: 4px 4px 5px #000000;
}
